html, body{
    height:100%;
}
body {
    background: url(../img/bgbd.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #0B4864;
    color: #FFF;
    text-shadow: 0px 1px 1px #111;
    font-family: "Montserrat", sans-serif;
}
.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 5em;
    font-weight: 700;
}

h2 {
    font-size: 3em;
}

.h4, h4 {
    font-size: 18px;
}

h3 {
    font-weight: 700;
}

a {
    color: #FFF;
}
